html, body {
  margin: 0;
  padding: 0;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

canvas {
  display: block;
}

.slidersContainer{
 display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:.25em;


}

.slidecontainer{
  display:flex;
}
.can{
  
}